<!DOCTYPE html>
<html>
	<head>
		<script src="../bower_components/requirejs/require.js"></script>
		<script>
			require.config({
				baseUrl: "../bower_components",
				paths: {
					"<%= package %>": ".."
				}
			});
			<% if (build) { %>
			require(["delite-build/layer", "ecma402-build/layer"], function () {
			<% } %>
				require(["<%= package %>/<%= widgetName %>"], function (register) {
				});
			<% if (build) { %>
			});
			<% } %>
		</script>
	</head>
	<body>
		<<%= elementName %> id="element" value="The Title"></<%= elementName %>>
		<button onclick="element.value='New Title'; event.target.disabled=true">click to change title</button>
		<% if (watch) { %><script src="//localhost:35729/livereload.js"></script><% } %>
	</body>
</html>